@import "../../../variables.scss";
.app-popup {
  &__header {
    padding: $s2;
    background-color: $primary;
    color: $white;
    border-radius: $r2;
  }
  &__content {
    padding: $s2;
    img {
      max-width: 100px;
    }
  }
  &__actions {
    padding: $s2;
  }
}
