$white: #ffffff;
$black: #222222;

$light: #eee;
$dark: #1d3557;
$primary: #457b9d;
$info: #a8dadc;
$danger: #e63946;

$baseSpacing: 4px;
$s1: $baseSpacing * 1;
$s2: $baseSpacing * 2;
$s3: $baseSpacing * 4;
$s4: $baseSpacing * 6;
$s5: $baseSpacing * 8;

$baseRadius: 2px;
$r1: $baseRadius * 1;
$r2: $baseRadius * 2;
$r3: $baseRadius * 3;
$r4: $baseRadius * 4;
$r5: $baseRadius * 5;
